body {
    width:100% ;
     height:100% ;
    background: linear-gradient(0deg, #27cece, #0996ce);
    font-family: 'Anton', sans-serif;
}

.organisation {
    font-size: small;
    color: rgb(0, 0, 0);
    margin: 1rem;
    border: solid black 1px;

}

.mesure {
    text-align: center;
}

.securite {
    text-align: center;
}

li {
    padding-left: 2rem;
}

.biens {
    margin: 1rem;
    font-size: small;
    border: solid black 1px;



}