
.BourseLaManu {
    background: linear-gradient(0deg, #433113, #A67C30);
    border: 1px solid black;
    width: 414px;
    height: 736px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: ;
}
.zoneOrange {
    color: orange;
}

.zoneVerte {
    color: green;
}
